/* 
    reset 
*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Helvetica', sans-serif;
}

/* 
    general 
*/

:root{
    --blue-color: #0483FC;
    --white-color: white;
    --cyan-color: #B5DDFF;
    --margin-top-30: 30px;
    --gray-color: rgb(78, 78, 78);
    --purple-color: #9792E4;
}

.container{
    margin: 0 auto;
    max-width: 1200px;
    padding: 0 30px;
}

.button{
    padding: 10px 15px;
    border-radius: 20px;
    border: 1px solid var(--white-color);
    background-color: var(--white-color);
}

.text-center{
    text-align: center;
}

/* 
    header 
*/

.navbar{
    width: 100%;
    background-color: var(--blue-color);
    padding: 15px;
}

.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-container > ul{
    display: none;
}

.navbar li{
    display: inline-block;
    padding-left: 15px;
}

.nav-container a{
    text-decoration: none;
    color: var(--white-color);
    display: inline-block;
}

.hmb-menu{
    display: block;
}

/* 
    main 
*/

/* section 1  */

.card-big{
    width: 100%;
    background-color: var(--cyan-color);
    display: flex;
    flex-wrap: wrap;
    margin-top: 50px;
    border-radius: 30px;
}

.card{
    width: 100%;
    background-color: var(--cyan-color);
    display: flex;
    flex-wrap: wrap;
    margin-top: 50px;
    border-radius: 30px;
}

.card-top{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px 0;
}

.card-text{
    width: 80%;
}

.card-text > h2{
    color: var(--blue-color);
}

.card-text{
    color: var(--gray-color);
}

.card-text > i{
    font-size: 5em;
    color: var(--blue-color);
}

.apple{
    padding-right: 10px;
}

.card-text button{
    color: var(--white-color);
    background-color: var(--blue-color);
    border: 1px solid var(--blue-color);
    padding: 10px 50px;
    font-size: 1em;
    font-weight: bold;
}

.card-top h2,
.card-top p,
.card-top button,
.card-bottom img{
    margin-top: var(--margin-top-30);
}

.card-bottom{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.card-img{
    width: 80%;
}

.card-img > img{
    width: 100%;
    display: block;
}

/* section 2 */

.section-2{
    background-color: var(--purple-color);
    padding: 30px 0;
    margin: 50px 0;
}

.left-box{
    width: 100%;
    margin-bottom: 30px;
}

.right-box{
    width: 100%;
}

.left-box .drawing-text-box{
    color: var(--white-color);
}

.left-box .drawing-text-box > h2{
    padding-top: 30px; 
}

.left-box .drawing-text-box > p{
    padding-top: 30px;    
    line-height: 1.5em;
}

.white-card{
    width: 100%;
    background-color: var(--white-color);
    border-radius: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
}

.drawing-text-box{
    padding: 0 30px;
}

.white-card .drawing-text-box > p{
    font-style: italic;
}

.white-card .drawing-text-box > a{
    background-color: var(--purple-color);
    display: inline-block;
    padding: 15px;
    border-radius: 50%;
    margin: 30px 0;
}

.drawing-img-box{
    width: 80%;
}

.drawing-img-box > img{
    width: 100%;
    padding-bottom: 20px;
}

.drawing-text-box > *{
    padding: 10px 0;
}

/* 
    footer 
*/

/* ---------------------MEDIA QUERY-------------------- */

/* Breakpoint tablet */

@media screen and (min-width: 768px) {
    
    /* main - section 1 */
    .card-container{
        display: flex;
        flex-wrap: wrap;
        margin-left: -10px;
        margin-right: -10px;
        margin-top: 20px;
    }

    .card-big{
        width: calc(((100% / 3) * 2) - 20px);
        margin: 10px 10px;
    }

    .card{
        width: calc((100% / 3) - 20px);
        margin: 10px 10px;
    }

    .card-bottom{
        justify-content: flex-start;
    }

}

/*  Breakpoint desktop */

@media screen and (min-width: 992px) {

    /* header */
    .nav-container > ul{
        display: block;
    }

    .hmb-menu{
        display: none;
    }

    /* main - section 1 */
    .card-container{
        display: flex;
        flex-wrap: wrap;
        margin-left: -10px;
        margin-right: -10px;
        margin-top: 20px;
    }

    .card-big{
        width: calc(((100% / 3) * 2) - 20px);
        margin: 10px 10px;
    }

    .card{
        width: calc((100% / 3) - 20px);
        margin: 10px 10px;
    }

    .card-big .card-top{
        width: 60%;
    }

    .card-big .card-bottom{
        width: 40%;
        justify-content: center;
    }

    /* main - section 2 */
    
    .left-box{
        width: 50%;
        margin-bottom: 0;
    }

    .left-box > .drawing-text-box > p{
        padding-bottom: 0;
    }

    .right-box{
        width: 50%;
    }

    .sec-2-content-box{
        display: flex;
        flex-wrap: wrap;
        align-items: flex-end;
    }

    .white-card{
        width: 70%;
    }
}